
.wrapper_contact{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 24px;
    flex-wrap: wrap;
}
.form_box{
    width: 516px;
}
input[type=text],
input[type=tel]{
    width: 100%;
    padding: 20px 24px;
    background-color: var(--cardBg);
    margin-bottom: 20px;
}
textarea[type=text]{
    width: 100%;
    padding: 20px 24px;
    background-color: var(--cardBg);
}
.checkbox{
    margin: 24px 0;
}
.contact_button{
    width: 100%;
    background-color: var(--accent);
    padding: 20px 24px;
}
a{
    color: var(--accent);
}
 

/* левая сторона карта */
.container_map{
    max-width: 732px;
}
.container_map img{
    width: 100%;
}