@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Play", sans-serif;
    background-color: var(--bg);
}
ul,
li {
    list-style: none;
}
li,
a {
    cursor: pointer;
}
:root{
    --bg: #1E1E1E;
    --white: #FFF;
    --accent: #FF6745;
    --cardBg: #333;
    --border: #5F5F5F;
}

#hero, #faq{
    width: min(100% - 20px, 1440px);
    margin: 0 auto;
    height: 100vh;
}



.faq_arrow{
    float: right;
    transition: all 0.7s; 
}

.faq_arrow.active{
    transition: all 0.7s;
    transform: rotateX(180deg);
}